<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.woniuxy.mapper.RoleMapper">
    <!--定义结果集-->
    <resultMap id="RoleResultMap" type="Role">
        <id property="id" column="role_id"/>
        <result property="name" column="role_name"/>
        <result property="desc" column="role_desc" />
    </resultMap>
    <!--添加角色-->
    <insert id="addRole" parameterType="Role">
        INSERT INTO sys_roles(role_name,role_desc)VALUES(#{name},#{desc})
    </insert>

    <!--获取角色列表-->
    <select id="findAllRoles" resultMap="RoleResultMap">
        SELECT * FROM sys_roles
    </select>

    <!--根据编号删除角色-->
    <delete id="deleteRoleById" parameterType="int">
        DELETE FROM sys_roles WHERE role_id=#{id}
    </delete>

    <!--根据角色编号获取角色对象-->
    <select id="findRoleById" resultMap="RoleResultMap">
        SELECT * FROM sys_roles WHERE role_id=#{id}
    </select>
</mapper>